.menu {
    background-color:khaki;
    height: 80px;
    width: 100%;
    font-size: medium;
    border-radius: 5px;
    
 
}

.menu ul {
    display: block;
    padding: 5px;
    background: none;
    float: left;
    margin: 0px;
    
}

.menu ul li {
    list-style: none;
    display: inline-block;
}

body {
    background-color: aqua;
}
.menu ul li a {
    color: brown;
    display: block;
    text-decoration: none;
    padding: 23px;


}