<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="menu">
  <ul>
    <li><a href="/"><b>HOME</b></a></li>
    <li><a href="/profil"><b>PROFIL</b></a></li>
    <li><a href="/faperta"><b>FAPERTA</b></a></li>
    <li><a href="/feb"><b>FEB</b></a></li>
    <li><a href="/fh"><b>FH</b></a></li>
    <li><a href="/fisip"><b>FISIP</b></a></li>
    <li><a href="/fk"><b>FK</b></a></li>
    <li><a href="/fkip"><b>FKIP</b></a></li>
    <li><a href="/ft"><b>FT</b></a></li>
    <li><a href="/pascasarjana"><b>PASCASARJANA</b></a></li>
  </ul>
</nav>
</body>
</html>



