{% extends 'base.html' %}

{% load static %}

{% block content %}


    <style>
        body {
            background-color: rgb(255, 255, 255);

        }

    </style>
    <style>
        body{
            max-width: 1000px;
            margin: auto;
        }
        p{
            text-indent: 50px;
        }
    </style>

    <h1 style="background-color: rgb(70, 195, 245);">PROFIL</h1>
    
<p>Nama : Aulia Urohmah</p>   
<p>Nim : 2225210086</p>   
<p>Kelas : 3C</p>    
<p>Jurusan : Pendidikan Matematika</p>
<p>Mata Kuliah : Teknologi Informasi dan Komunikasi untuk Pembelajaran</p> 
<p>Dosen Pengampu : Dr. Aan Hendrayana</p>    
{% endblock %}